<div class="card-container">
    <mat-form-field appearance="outline">
      <mat-label>Procurar</mat-label>
      <input matInput placeholder="Ex: Marcus Vinicius" (keyup)="filter($event)" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table #table [dataSource]="dataSource" matSort style="width: 100%;">
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
        </ng-container>
    
        <ng-container matColumnDef="sobrenome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sobrenome </th>
          <td mat-cell *matCellDef="let row"> {{row.sobrenome}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <ng-container matColumnDef="datanascimento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de nascimento </th>
          <td mat-cell *matCellDef="let row"> {{row.dataNascimento | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="escolaridade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Escolaridade </th>
          <td mat-cell *matCellDef="let row"> {{row.escolaridade}} </td>
        </ng-container>
        
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center; text-align: center; " > Ações </th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-mini-fab color="primary" [routerLink] = "['/edit', row.id]" aria-label="Example icon button with a menu icon">
              <mat-icon>edit</mat-icon>
            </button>
            &nbsp;
            <button mat-mini-fab color="primary" (click) = 'deleteUser(row.id)' aria-label="Example icon button with a menu icon">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Nenhum resultado encontrado para: "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButton aria-label="Select page of users"></mat-paginator>
    </div>
  </div>