<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="https://s3-sa-east-1.amazonaws.com/prod-jobsite-files.kenoby.com/uploads/ituran-1578932409-ituranjpeg.jpeg" />
  <span>Área do cliente</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <nav mat-tab-nav-bar style="width: 100%;">
    <a mat-tab-link *ngFor = 'let tab of links;' [disabled] = '!tab.isActive' [routerLink] = 'tab.path' routerLinkActive>
      {{tab.label}}
    </a>
  </nav>

</div>
<router-outlet></router-outlet>
